#!/bin/bash
#=====================================================================
#
#
#   ██╗  ██╗██████╗ ██████╗  █████╗ ███████╗██╗██╗     ███████╗
#   ╚██╗██╔╝██╔══██╗██╔══██╗██╔══██╗██╔════╝╚═╝██║     ██╔════╝
#    ╚███╔╝ ██████╔╝██████╔╝██║  ██║█████╗  ██╗██║     █████╗  
#    ██╔██╗ ██╔═══╝ ██╔══██╗██║  ██║██╔══╝  ██║██║     ██╔══╝  
#   ██╔╝╚██╗██║     ██║  ██║╚█████╔╝██║     ██║███████╗███████╗
#   ╚═╝  ╚═╝╚═╝     ╚═╝  ╚═╝ ╚════╝ ╚═╝     ╚═╝╚══════╝╚══════╝
#
#
# 	.xprofile configuration by adipopbv (adi.pop.bv@gmail.com).
# 	~/.xprofile - DM environmental settings (shell config sourcing etc).
# 	Go to https://wiki.archlinux.org/index.php/xprofile for more info.
#
#
#=====================================================================

# Source zsh files
[[ -f ~/.zshenv ]] && source ~/.zshenv
[[ -f ~/.zshrc ]] && source ~/.zshrc

